@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, it's Azure Friday!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building web apps with ASP.NET Core</a>.</p>
    <img src="/Content/images/AzFriday.jpg">
</div>
